# ============================================
# Product Service — Environment Variables
# ============================================

# gRPC Server
GRPC_PORT=50052
GRPC_HOST=0.0.0.0

# MongoDB Database
MONGODB_URI=mongodb://localhost:27017/bhaikidukaan_products

# Environment
NODE_ENV=development
