# ============================================
# BhaiKiDukaan — Docker Environment Variables
# ============================================

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bhaikidukaan_users

# MongoDB
MONGO_INITDB_DATABASE=bhaikidukaan_products

# Authentication JWT
JWT_ACCESS_SECRET=bhai-ki-dukaan-access-secret-production-key-change-me
JWT_REFRESH_SECRET=bhai-ki-dukaan-refresh-secret-production-key-change-me

# Razorpay Payments (Optional for testing / Mock fallback enabled)
RAZORPAY_KEY_ID=rzp_test_TULyjjwTwy3mlM
RAZORPAY_KEY_SECRET=VnXvui8ZgMJqq9c0zH51grJj
